include bemto/bemto

//------------------------------//

include ../blocks/btn/btn
include ../blocks/form/form

//------------------------------//

| <?php get_header(); ?>

main.content
  block content

| <?php get_footer(); ?>
